@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Temperature (C)</th>
                    <th scope="col">Summary</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewData.Keys.Contains("WeatherForecast"))
                {
                    foreach (var forecast in (List<TemperatureSample>?)(ViewData["WeatherForecast"]))
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.Summary</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </p>
</div>
