@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">v1.1</h1>
    <p>Minor updates.</p>
</div>

<div class="text-center">
    <h1 class="display-4">v1.2</h1>
    <p>Now with config: @ViewData["ServiceName"]</p>
</div>